body {
    background-color: #fdf6e3;
}

.sobre, .contato {
  overflow-y: hidden;
  overflow-x: hidden;
}

#scroll {
    overflow-y: scroll;
    height: 25rem;
}

.scrollbox::-webkit-scrollbar {
  width: 8px;
}
.scrollbox::-webkit-scrollbar-track {
  background: #e9ecef;
  border-radius: 4px;
}
.scrollbox::-webkit-scrollbar-thumb {
  background: #6c757d;
  border-radius: 4px;
}
.scrollbox::-webkit-scrollbar-thumb:hover {
  background: #495057;
}

.img {
  max-width: 75%;
  max-height: 100%;
  object-fit: cover;
}

.hud {
  max-width: 50%;
}

.hud-info {
  margin-top: 0rem;
  margin-bottom: 0;
}

.life {
  width: 30%;
}

.map {
  max-width: 40%;
}

.carta {
  background-color: #f5e4c3;
  border: 2px solid #d2b48c;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.carta:hover {
  transform: scale(1.05);
  transition: transform 0.2s;
}

.titulo {
  width: 100%;
  color: black;
  font-weight: bold;
  text-shadow:
    -1px -1px 0 white,
     1px -1px 0 white,
    -1px  1px 0 white,
     1px  1px 0 white;
}

.inv {
  background-image: url('/static/img/hud.png');
  background-size: contain; /* ou cover */
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 90vh; /* teste com altura fixa */
}

.items {
  width: 60%;
}