body {
    background-color: #fdf6e3;
}

.sobre, .contato {
  overflow-y: hidden;
  overflow-x: hidden;
}

#scroll {
    overflow-y: scroll;
    height: 25rem;
}

.scrollbox::-webkit-scrollbar {
  width: 8px;
}
.scrollbox::-webkit-scrollbar-track {
  background: #e9ecef;
  border-radius: 4px;
}
.scrollbox::-webkit-scrollbar-thumb {
  background: #6c757d;
  border-radius: 4px;
}
.scrollbox::-webkit-scrollbar-thumb:hover {
  background: #495057;
}

