<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início</title>
</head>
<body>
    {% extends "base.html" %}

    {% block content %}
        <h1 class="mx-auto p-2">Bem-vindo ao meu site!</h1>
        <br>
        <div class="container-md">
            
        </div>
        <div class="container-md">
            <div class="mb-3">
                <strong>Idade:</strong> 20 anos<br>
                <strong>Curso:</strong> Licenciatura em Informática<br>
                <strong>Período:</strong> 7º período<br>
                <strong>Habilidades:</strong> HTML, CSS, JavaScript, Python, Flask(Em Progresso)<br>
                <strong>Interesses:</strong> Desenvolvimento web, integração de tecnologia na educação
            </div>
        </div>

            
    {% endblock %}
</body>
</html>