{% extends "base.html" %}

{% block title %}Projetos{% endblock %}

{% block nav %}{% endblock %}
{% block content %}
    <div class="container-fluid w-100 d-flex flex-row justify-content-center align-items-center inv">
        <div class="card cartas border-0 mx-auto">
            <h3 class="w-100 text-center card-title projeto">CRM</h3>
            <div class="text-center card-body corpo">
                <p class="w-75 text-center">Projeto Inacabado por motivos de falta de tempo, dinheiro, vontade e planejamento.</p>
            </div>
        </div>
        <div class="card cartas border-0 mx-auto">
            <h3 class="w-100 text-center card-title projeto">ChatBot</h3>
            <div class="text-center card-body corpo">
                <p class="w-75 text-center">Projeto menor que esta com sua versão MVP quase pronta.</p>
            </div>
        </div>
        <div class="card cartas border-0 mx-auto">
            <h3 class="text-center card-title projeto">Projeto Dev. Web</h3>
            <div class="text-center card-body corpo">
                <p class="w-75 text-center">Projeto Final da Materia de Dev. Web que precisa dos requisitos para começar.</p>
            </div>
        </div>
    </div>
    <audio id="scrollSound" src="{{ url_for('static', filename='snd/papel.mp3') }}"></audio>
{% endblock %}
{% block script %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const cards = document.querySelectorAll('.cartas');
            const scrollSound = document.getElementById('scrollSound');
    
            cards.forEach(card => {
                card.addEventListener('mouseenter', () => {
                scrollSound.currentTime = 1;
                scrollSound.play();
                });
            });
        });
    </script>
{% endblock %}
