{% extends "base.html" %}

{% block title %}Projetos{% endblock %}
    {% block content %}
        <div class="container-lg inv d-flex flex-column align-items-center justify-content-center">
            <div class="row d-flex justify-content-center mb-4">
                <div class="item">
                    <h3 class="text-center w-75">CRM</h3>
                    <p class="text-center w-75">Projeto Inacabado por motivos de falta de tempo, dinheiro, vontade e planejamento.</p>
                </div>
            </div>
            <div class="row d-flex justify-content-center items mt-4">
                <div class="item col d-flex justify-content-start flex-column">
                    <h3 class="w-75 text-center">ChatBot</h3>
                    <p class="w-75 text-center">Projeto menor que esta com sua versão MVP quase pronta.</p>
                </div>
                <div class="item col d-flex text-end flex-column">
                    <h3 class="w-75 text-center">Projeto Dev. Web</h3>
                    <p class="w-75 text-center">Projeto Final da Materia de Dev. Web que precisa dos requisitos para começar.</p>
                </div>
            </div>
        </div>
    {% endblock %}
