{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block nav %}
{% endblock %}

{% block content %}
<div class="mesa">
  <div class="container-fluid login d-flex flex-column justify-content-center align-items-center">
            {% set mensagens = get_flashed_messages() %}
            {% if mensagens %}
                <div class="alert alert-danger" role="alert">
                    {% for msg in mensagens %}
                        {{ msg }}<br>
                    {% endfor %}
                </div>
            {% endif %}
            <form class="formulario" action="{{ url_for('register') }}" method="post">
                <div class="mb-3">
                  <label for="nomeUsuario" class="form-label">Username:</label>
                  <input type="text" name="nomeUsuario" class="form-control w-100" id="nomeUsuario" aria-describedby="nameHelp" maxlength="30">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password:</label>
                  <input type="password" name="password" class="form-control w-100" id="exampleInputPassword1" minlength="8" maxlength="20">
                </div>
                <div class="w-100 d-flex justify-content-center">
                  <button type="submit" class="btn btn-primary entrar mt-2">Registrar-se</button>
                </div>
              </form>
              <div class="w-100 d-flex justify-content-center mt-3">
                  <p class="text-center mt-3">Já tem uma conta? <a href="/">Inicie sessão</a></p>
              </div>
            </div>
    </div>
{% endblock %}

{% block script %}
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const timeout = 2000;
    const alert = document.querySelector('.alert');
    if (alert) {
      setTimeout(() => {
        alert.style.display = 'none';
      }, timeout);
    }});
</script>
{% endblock %}